extends layout

block content
  h1= title
  each conf, repo in db.cIDs
    h2= repo
    each filter in conf.filters
      h3= filter.name
      p= filter.cmd
      form(action="/fakewebhook" method="POST")
        input(type="text" name="sha" placeholder="sha")
        input(type="hidden" name="repo" value=repo)
        input(type="hidden" name="filter" value=filter.name)
        input(type="submit")
