extends layout

block content
  each conf, repo in db.cIDs
    h3= repo
    a(href=`/log/${repo.split('.git')[0]}`) cached builds
    table
      thead
        tr
          th name
          th cmd
      tbody
        each filter in conf.filters
          tr
            td= filter.name
            td
              code= filter.cmd
    h4 rerun on SHA
    form(action="/fakewebhook" method="POST")
      input(type="text" name="sha" placeholder="sha")
      input(type="hidden" name="repo" value=repo)
      input(type="submit")
    h4 post-merge hook
    pre
      code= conf.hook
