extends layout

block content
  p
    a(href=`/log/${domain}/${repo}/${branch}/${sha}`) logs
  h2
    =domain.replace('_', ".")
    |/
    =repo.replace('_', "/")
    |#
    =branch
    =" vs. "
    =sha

  form(action="/fakewebhook" method="POST")
    input(type="hidden" name="sha" placeholder="sha" value=sha)
    input(type="hidden" name="repo" value=`${domain.replace('_', ".")}:${repo.replace('_', "/")}.git#${branch}`)
    input(type="submit" value=`rerun this build`)

  table
     thead
       tr
         th
         th exit
         th command
         th stdout
         th stderr
     tbody
       for step in steps
         tr
           td= step
           for logType in logTypes
             td
               code= logs[step][logType]

       for filter in filters
         tr
           td= filter.name
           td
             if filter.exit == 0
               span success
             else
               span failure:
               code= filter.exit
           td
             code= filter.cmd
           td
             pre
               code= filter.log
           td
